{% extends 'galerie.html.twig' %}

{% block content %}
	<h2 class="text-center">Ajouter une Photo</h2>

	{{ form_start(form) }}
	<div class="row">
		<div class="col">
			{{ form_row(form.title) }}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ form_row(form.imageFile) }}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ form_row(form.save, {
                attr: {
                    class: 'button'
                }
            }) }}
		</div>
	</div>

	{{ form_end(form) }}

{% endblock %}
