{% extends 'base.html.twig' %}

{% block title %}Galerie de
	{{ app.user.pseudo }}
{% endblock %}

{% block body %}
	<h1 class="text-center">Bienvenue dans ta Galerie Photo
		{{ app.user.pseudo }}</h1>

	<div class="container">
		<div class="row">
			<div class="col-1">
				<a href="{{ path('picture.create') }}" class="button">Ajouter</a>
			</div>
			<div class="col-11">
				<div id="galerieCarousel" class="carousel slide carousel-fade">
					<div class="carousel-inner">
						{% for pic in pictures %}
							<div class="carousel-item {{ loop.index == 1 ? 'active' : '' }}">
								<img src="{{ vich_uploader_asset(pic) }}" class="d-block w-100" alt="{{ pic.title }}">
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#galerieCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#galerieCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
